 body {
            font-family: Arial, sans-serif;
            background-color: rgb(121, 105, 196);
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
            background-color: #d6a889;
            padding: 20px;
            border-radius: 5px;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        input[type="number"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #008CBA;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        p {
            font-weight: bold;
        }